<h1>Customers Alphabetized by Name</h1>

<%= link_to "Back to All Customers", root_path %>

<% @customers.each do |customer| %>
  <%= render partial: 'customer', locals: { customer: customer } %>
<% end %>
