<h1>Customers with Missing Email Addresses</h1>
<% if @customers.any? %>
  <% @customers.each do |customer| %>
    <%= render partial: 'customer', locals: { customer: customer } %>
  <% end %>
<% else %>
  <p>No customers have missing email addresses.</p>
<% end %>
